@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.lightbox {
  position: fixed;
  top: -100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  z-index: 1000;
}
.lightbox.active {
  opacity: 1;
  top: 0;
  bottom: 0;
}
.lightbox .lightbox-content {
  background-color: #fff;
  width: 90%;
  height: 85%;
  margin: auto;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1rem;
  max-height: 100%;
  max-width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  transition: 1s ease-in-out;
  overflow: hidden;
  overscroll-behavior: contain;
}
.lightbox .lightbox-close {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  position: absolute;
}
.lightbox .lightbox-close::before, .lightbox .lightbox-close::after {
  content: " ";
  display: block;
  height: 25px;
  width: 1px;
  background: #fff;
  position: absolute;
  right: 1.5rem;
  top: 0.75rem;
  transform: rotate(45deg);
}
.lightbox .lightbox-close::after {
  transform: rotate(-45deg);
}

body.activeLightbox {
  overflow: hidden !important;
  touch-action: none;
}

#privacy_policy .lightbox-content {
  background-color: #7B6660;
}
#privacy_policy:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}
#privacy_policy .content {
  overflow-y: auto;
  height: 100%;
  padding: 1.5rem 1rem 2rem 2rem;
  line-height: 2;
  color: #fff;
}
#privacy_policy .content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #7B6660;
  background-color: #7B6660;
}
#privacy_policy .content::-webkit-scrollbar {
  width: 8px;
}
#privacy_policy .content::-webkit-scrollbar-thumb {
  background-color: #D79797;
}
@media (max-width: 767px) {
  #privacy_policy .content {
    padding: 1.5rem 0.25rem 2rem 1rem;
  }
}
#privacy_policy .content h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
  color: #e2b4b4;
}
@media (max-width: 767px) {
  #privacy_policy .content h3 {
    font-size: 1.1rem;
  }
}
#privacy_policy .content ol {
  list-style: disc;
  margin-left: 1.5rem;
}

.privacy_policyBtn {
  color: #fff;
  transition: all 0.3s;
  position: relative;
  top: 0;
}
.privacy_policyBtn:hover {
  top: -4px;
}

* {
  box-sizing: border-box;
}

::-moz-selection {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 0, 0, 0.7);
}

::selection {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 0, 0, 0.7);
}

body {
  font-family: "Microsoft JhengHei", Verdana, Arial, Helvetica, sans-serif;
  background-image: url(../img/bg_blue.jpg);
  background-attachment: fixed;
  overflow-x: hidden;
  margin-top: 120px;
}
@media (max-width: 1280px) {
  body {
    margin-top: 100px;
  }
}
@media (max-width: 767px) {
  body {
    margin-top: 72px;
  }
}
@media (max-width: 320px) {
  body {
    margin-top: 60px;
  }
}

.top {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  right: 1.5rem;
  bottom: 5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s;
  z-index: 10;
  opacity: 0;
}
.top:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  .top {
    right: 1rem;
    bottom: 6rem;
  }
}

.headerFix {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.9);
}
@media (max-width: 1024px) {
  .headerFix {
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
  }
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #fff;
  width: 100%;
  height: 120px;
  padding: 1rem 1rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
}
@media (max-width: 1280px) {
  header {
    height: 100px;
    padding: 0.5rem 1.8rem 0.5rem 1.5rem;
  }
}
@media (max-width: 1024px) {
  header {
    padding: 1.2rem 1.8rem 1rem 1rem;
  }
}
@media (max-width: 767px) {
  header {
    height: 72px;
  }
}
@media (max-width: 428px) {
  header {
    padding: 0.8rem 1rem 0.8rem 0rem;
  }
}
@media (max-width: 320px) {
  header {
    height: 60px;
  }
}
header .logo img {
  width: 85%;
}
header .logo h1 {
  display: none;
}
@media (max-width: 1280px) {
  header .logo {
    width: 17%;
  }
}
@media (max-width: 1024px) {
  header .logo {
    width: 19%;
  }
}
@media (max-width: 768px) {
  header .logo {
    width: 27%;
    margin-left: 1.2rem;
  }
}
@media (max-width: 428px) {
  header .logo {
    width: 33%;
  }
}
header .menu {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
header .menu li {
  height: 100%;
  margin: 0 0.75rem;
}
header .menu li a {
  display: block;
  height: 100%;
}
header .menu li img {
  height: 100%;
  width: auto;
  transition: all 0.2s;
  position: relative;
  top: 0;
}
header .menu li img:hover {
  top: -4px;
}
@media (max-width: 768px) {
  header .menu {
    display: none;
  }
}
header .social a:nth-of-type(2), header .social a:nth-of-type(1) {
  width: 38%;
  height: 0;
  padding-bottom: 38%;
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
header .social {
  width: 8%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1440px) {
  header .social {
    width: 10%;
  }
}
@media (max-width: 768px) {
  header .social {
    width: 16%;
  }
}
@media (max-width: 428px) {
  header .social {
    width: 25%;
  }
}
header .social a:hover {
  filter: brightness(1.2);
}
header .social a:nth-of-type(1) {
  background-image: url("../img/icon_fb.png");
}
header .social a:nth-of-type(2) {
  background-image: url("../img/icon_ig.png");
}

nav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(#D79797, #66A3E4);
  z-index: 10;
  padding-bottom: calc(constant(safe-area-inset-bottom) * 0.6);
  padding-bottom: calc(env(safe-area-inset-bottom) * 0.6);
}
nav ul {
  margin-top: 0.3rem;
  display: flex;
  justify-content: space-around;
}
nav ul li {
  width: 20%;
}
nav ul li a {
  display: block;
  width: 100%;
  text-align: center;
}
nav ul li img {
  width: 30%;
}
@media (max-width: 428px) {
  nav ul li img {
    width: 55%;
  }
}
@media (max-width: 768px) {
  nav {
    display: block;
  }
}

.active {
  background-image: radial-gradient(#D79797, transparent, transparent);
}

.container {
  width: 1024px;
  margin: 0 auto;
  padding: 4rem 3rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 2rem 4rem;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 2rem 2rem;
  }
}

.hero .swiper-container {
  width: 100%;
  height: 400px;
}
.hero .swiper-container .swiper-pagination-bullet {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  margin: 0 2px !important;
}
.hero .swiper-container .swiper-pagination-bullet-active {
  background: #D79797;
  width: 35px;
  height: 6px;
  border-radius: 3px;
}
@media (max-width: 768px) {
  .hero .swiper-container {
    height: 360px;
  }
}
@media (max-width: 428px) {
  .hero .swiper-container {
    height: 240px;
  }
}
@media (max-width: 320px) {
  .hero .swiper-container {
    height: 180px;
  }
}
.hero .swiper-slide {
  background-position: center center;
  background-repeat: no-repeat;
}
.hero_1 {
  background-image: url(../img/hero1.jpg);
}
@media (max-width: 768px) {
  .hero_1 {
    background-image: url(../img/hero1_768.jpg);
    background-size: cover;
  }
}
.hero_2 {
  background-image: url(../img/hero2.jpg);
  cursor: pointer;
}
@media (max-width: 768px) {
  .hero_2 {
    background-image: url(../img/hero2_768.jpg);
    background-size: cover;
  }
}
.hero_3 {
  background-image: url(../img/hero3.jpg);
  cursor: pointer;
}
@media (max-width: 768px) {
  .hero_3 {
    background-image: url(../img/hero3_768.jpg);
    background-size: cover;
  }
}

.aboutBlockX {
  width: 100%;
  background-image: url(../img/bg_paper.png);
  background-color: #fff;
}
.aboutBlockX .container > img {
  width: 35%;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .aboutBlockX .container > img {
    width: 50%;
    margin-bottom: 2rem;
  }
}
@media (max-width: 428px) {
  .aboutBlockX .container > img {
    width: 75%;
  }
}
.aboutBlockX .about {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 428px) {
  .aboutBlockX .about {
    flex-direction: column;
    align-items: center;
  }
}
.aboutBlockX .about > img {
  width: 23%;
  height: 100%;
  border: 1px solid #7B6660;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 768px) {
  .aboutBlockX .about > img {
    width: 31%;
  }
}
@media (max-width: 428px) {
  .aboutBlockX .about > img {
    width: 60%;
  }
}
.aboutBlockX .about_txt {
  width: 72%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .aboutBlockX .about_txt {
    width: 64%;
  }
}
@media (max-width: 428px) {
  .aboutBlockX .about_txt {
    width: 100%;
    margin-top: 0.5rem;
  }
}
.aboutBlockX .about_txt p {
  color: #7B6660;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
@media (max-width: 768px) {
  .aboutBlockX .about_txt p {
    line-height: 1.2;
  }
}
@media (max-width: 428px) {
  .aboutBlockX .about_txt p {
    font-size: 1.2rem;
  }
}
@media (max-width: 320px) {
  .aboutBlockX .about_txt p {
    font-size: 1rem;
  }
}
.aboutBlockX .about_txt ul {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.aboutBlockX .about_txt ul li {
  margin: 0 0.5rem;
  color: #66A3E4;
  font-size: 1.2rem;
  font-weight: bold;
}
@media (max-width: 428px) {
  .aboutBlockX .about_txt ul li {
    margin: 0 0.3rem;
    font-size: 1rem;
  }
}
.aboutBlockX .about_txt ul a {
  transition: all 0.3s;
  position: relative;
  top: 0;
}
.aboutBlockX .about_txt ul a:hover {
  top: -4px;
}
.aboutBlockX .about_txt ul img {
  width: 2rem;
  height: 2rem;
}

.aboutBlockY {
  width: 100%;
  background-image: url(../img/bg_paper.png);
  background-color: #FFF9F9;
}
.aboutBlockY a {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #7B6660;
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
  top: 0;
}
.aboutBlockY a:hover {
  top: -4px;
}
.aboutBlockY .publish {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 99%;
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding: 3rem 0 2rem;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 3rem;
  position: relative;
}
@media (max-width: 428px) {
  .aboutBlockY .publish {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 2rem 0 1.2rem;
    border-radius: 2rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}
@media (max-width: 375px) {
  .aboutBlockY .publish {
    margin-top: 1.5rem;
    padding: 1.5rem 0 1rem;
    border-radius: 1.5rem;
  }
}
@media (max-width: 320px) {
  .aboutBlockY .publish {
    background-color: transparent;
    margin-bottom: -1rem;
  }
}
.aboutBlockY .publish > img {
  width: 65%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5.5rem;
}
@media (max-width: 768px) {
  .aboutBlockY .publish > img {
    width: 80%;
    top: -4.5rem;
  }
}
@media (max-width: 428px) {
  .aboutBlockY .publish > img {
    width: 90%;
    top: -2.8rem;
  }
}
@media (max-width: 375px) {
  .aboutBlockY .publish > img {
    top: -2.5rem;
  }
}
.aboutBlockY .publish p {
  white-space: nowrap;
  font-size: 1.5rem;
  padding: 1.5rem 0;
}
@media (max-width: 767px) {
  .aboutBlockY .publish p {
    font-size: 1rem;
  }
}
@media (max-width: 428px) {
  .aboutBlockY .publish p {
    font-size: 0.8rem;
    padding: 0.8rem 0;
  }
}
@media (max-width: 320px) {
  .aboutBlockY .publish p {
    text-shadow: 2px 2px 0px #fff, -2px -2px 0px #fff, 1px 1px 0px #fff, -1px -1px 0px #fff;
  }
}
@media (max-width: 768px) {
  .aboutBlockY .publish p span {
    display: none;
  }
}

.roleBlock .role_truffle, .roleBlock .role_sheep, .roleBlock .role_bibi, .roleBlock .role_ugly, .roleBlock .role_girl {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.roleBlock {
  width: 100%;
  background-image: url(../img/bg_cloud.png);
  background-position: center top;
  background-size: 100%;
}
@media (max-width: 768px) {
  .roleBlock {
    background-repeat: no-repeat;
  }
  .roleBlock .container {
    padding: 2rem 0;
  }
}
.roleBlock .container > img {
  width: 35%;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .roleBlock .container > img {
    width: 50%;
    margin-bottom: 2rem;
  }
}
@media (max-width: 428px) {
  .roleBlock .container > img {
    width: 60%;
  }
}
.roleBlock .role {
  width: 100%;
  height: 830px;
  margin-bottom: 4rem;
  position: relative;
}
@media (max-width: 768px) {
  .roleBlock .role {
    overflow: hidden;
    height: 880px;
  }
}
@media (max-width: 428px) {
  .roleBlock .role {
    height: 520px;
    margin-top: -1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 375px) {
  .roleBlock .role {
    height: 490px;
  }
}
.roleBlock .role_girl {
  right: 10rem;
  top: 0rem;
  width: 350px;
  height: 304px;
  background-image: url(../img/role_01.png);
}
.roleBlock .role_girl:hover {
  background-image: url(../img/role_hover_01.png);
}
@media (max-width: 768px) {
  .roleBlock .role_girl {
    right: 7rem;
  }
}
@media (max-width: 767px) {
  .roleBlock .role_girl {
    right: 1rem;
  }
}
@media (max-width: 428px) {
  .roleBlock .role_girl {
    right: 3rem;
    width: 200px;
    height: 173px;
  }
}
@media (max-width: 375px) {
  .roleBlock .role_girl {
    right: 1.5rem;
  }
}
@media (max-width: 320px) {
  .roleBlock .role_girl {
    right: 0.5rem;
  }
}
.roleBlock .role_ugly {
  left: 4rem;
  top: 3rem;
  width: 320px;
  height: 304px;
  background-image: url(../img/role_02.png);
}
.roleBlock .role_ugly:hover {
  background-image: url(../img/role_hover_02.png);
}
@media (max-width: 768px) {
  .roleBlock .role_ugly {
    left: -3rem;
    top: 6rem;
  }
}
@media (max-width: 428px) {
  .roleBlock .role_ugly {
    left: -1rem;
    top: 3rem;
    width: 183px;
    height: 173px;
  }
}
@media (max-width: 375px) {
  .roleBlock .role_ugly {
    left: -2rem;
  }
}
.roleBlock .role_bibi {
  right: 2rem;
  top: 12rem;
  width: 280px;
  height: 295px;
  background-image: url(../img/role_03.png);
}
.roleBlock .role_bibi:hover {
  background-image: url(../img/role_hover_03.png);
}
@media (max-width: 768px) {
  .roleBlock .role_bibi {
    right: -2rem;
    top: 13rem;
  }
}
@media (max-width: 428px) {
  .roleBlock .role_bibi {
    right: -1.5rem;
    top: 7rem;
    width: 160px;
    height: 168px;
  }
}
@media (max-width: 375px) {
  .roleBlock .role_bibi {
    right: -2.2rem;
  }
}
.roleBlock .role_sheep {
  left: 6rem;
  bottom: 0rem;
  width: 500px;
  height: 565px;
  background-image: url(../img/role_04.png);
}
.roleBlock .role_sheep:hover {
  background-image: url(../img/role_hover_04.png);
}
@media (max-width: 768px) {
  .roleBlock .role_sheep {
    left: 1rem;
  }
}
@media (max-width: 767px) {
  .roleBlock .role_sheep {
    left: -6rem;
  }
}
@media (max-width: 428px) {
  .roleBlock .role_sheep {
    left: 0rem;
    width: 285px;
    height: 322px;
  }
}
@media (max-width: 320px) {
  .roleBlock .role_sheep {
    left: -2rem;
  }
}
.roleBlock .role_truffle {
  right: 6rem;
  bottom: 8rem;
  width: 250px;
  height: 218px;
  background-image: url(../img/role_05.png);
}
.roleBlock .role_truffle:hover {
  background-image: url(../img/role_hover_05.png);
}
@media (max-width: 768px) {
  .roleBlock .role_truffle {
    right: 1rem;
    bottom: 8rem;
  }
}
@media (max-width: 767px) {
  .roleBlock .role_truffle {
    right: -2rem;
  }
}
@media (max-width: 428px) {
  .roleBlock .role_truffle {
    right: 0rem;
    bottom: 6rem;
    width: 142px;
    height: 125px;
  }
}
@media (max-width: 375px) {
  .roleBlock .role_truffle {
    right: -1rem;
    bottom: 4.5rem;
  }
}
@media (max-width: 320px) {
  .roleBlock .role_truffle {
    right: -1.5rem;
  }
}

.roleCard {
  width: 450px;
  padding: 2rem 2em 2.5rem 6rem;
  margin: 3.5rem 0 3rem 6rem;
  border-radius: 3rem;
  background-color: #DCE7F3;
  color: #7B6660;
  line-height: 1.5;
  position: relative;
  z-index: 5;
}
@media (max-width: 767px) {
  .roleCard {
    width: 60%;
    border-radius: 1.5rem;
    padding: 1rem 1em 1.5rem 4rem;
    margin: 3rem 0 2rem 5.5rem;
  }
}
@media (max-width: 320px) {
  .roleCard {
    margin: 3rem 0 2rem 5rem;
  }
}
.roleCard::after {
  content: "";
  position: absolute;
  top: -0.8rem;
  right: -0.8rem;
  width: 100%;
  height: 100%;
  border: 2px solid #DCE7F3;
  border-radius: 3.5rem;
}
@media (max-width: 767px) {
  .roleCard::after {
    border-radius: 2rem;
    top: -0.5rem;
    right: -0.5rem;
  }
}
.roleCard_01, .roleCard_02, .roleCard_03, .roleCard_04, .roleCard_05 {
  position: absolute;
  z-index: 5;
  top: -11rem;
  right: 14rem;
  transform: scale(0.6);
}
@media (max-width: 767px) {
  .roleCard_01, .roleCard_02, .roleCard_03, .roleCard_04, .roleCard_05 {
    right: 8rem;
    transform: scale(0.5);
  }
}
@media (max-width: 428px) {
  .roleCard_01, .roleCard_02, .roleCard_03, .roleCard_04, .roleCard_05 {
    top: -11.5rem;
    right: 1rem;
    transform: scale(0.45);
  }
}
@media (max-width: 375px) {
  .roleCard_01, .roleCard_02, .roleCard_03, .roleCard_04, .roleCard_05 {
    right: -0.5rem;
    transform: scale(0.4);
  }
}
@media (max-width: 320px) {
  .roleCard_01, .roleCard_02, .roleCard_03, .roleCard_04, .roleCard_05 {
    top: -12rem;
    right: -3rem;
  }
}
.roleCard h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
@media (max-width: 428px) {
  .roleCard h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 320px) {
  .roleCard h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}
.roleCard p {
  font-size: 1.2rem;
}
@media (max-width: 428px) {
  .roleCard p {
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  .roleCard p {
    font-size: 0.8rem;
  }
}

.workBlock {
  width: 100%;
  background-image: url(../img/bg_paper.png);
  background-color: #fff;
}
.workBlock .workSpace {
  border: 0 !important;
}
@media (max-width: 768px) {
  .workBlock .workSpace {
    display: none;
  }
}
.workBlock .container:nth-of-type(1) > img {
  width: 35%;
}
@media (max-width: 768px) {
  .workBlock .container:nth-of-type(1) > img {
    width: 50%;
  }
}
@media (max-width: 428px) {
  .workBlock .container:nth-of-type(1) > img {
    width: 75%;
  }
}
.workBlock .container:nth-of-type(2) {
  width: 80%;
}
@media (max-width: 1280px) {
  .workBlock .container:nth-of-type(2) {
    width: 100%;
  }
}
@media (max-width: 428px) {
  .workBlock .container:nth-of-type(2) {
    padding: 0;
  }
}
.workBlock .container:nth-of-type(2) ul:nth-of-type(1) {
  width: 92%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 428px) {
  .workBlock .container:nth-of-type(2) ul:nth-of-type(1) {
    width: 85%;
    justify-content: space-between;
  }
}
.workBlock .container:nth-of-type(2) ul:nth-of-type(1) li {
  cursor: pointer;
  width: 23%;
  height: 250px;
  overflow: hidden;
  margin-bottom: 2.5rem;
  border-radius: 20px;
  background-size: cover;
  background-position: center center;
  border-width: 3px;
  border-style: solid;
}
@media (max-width: 768px) {
  .workBlock .container:nth-of-type(2) ul:nth-of-type(1) li {
    width: 45%;
  }
}
@media (max-width: 428px) {
  .workBlock .container:nth-of-type(2) ul:nth-of-type(1) li {
    width: 48%;
    height: 160px;
    margin-bottom: 1.5rem;
    border-radius: 15px;
  }
}
.workBlock .container:nth-of-type(2) ul:nth-of-type(1) a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
}
.workBlock .container:nth-of-type(2) ul:nth-of-type(1) .txt_block {
  height: 101%;
  position: absolute;
  top: calc(250px - 2.5rem);
  left: -1px;
  right: -1px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
}
@media (max-width: 428px) {
  .workBlock .container:nth-of-type(2) ul:nth-of-type(1) .txt_block {
    top: calc(160px - 2.5rem);
  }
}
.workBlock .container:nth-of-type(2) ul:nth-of-type(1) h3 {
  height: 2.5rem;
  line-height: 2.3rem;
  transition: all 0.3s;
}
.workBlock .container:nth-of-type(2) ul:nth-of-type(1) p {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
}
.workBlock .container:nth-of-type(2) ul:nth-of-type(1) strong {
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.workBlock .container:nth-of-type(2) ul:nth-of-type(1) strong:hover {
  transform: scale(1.1);
}
.workBlock .container:nth-of-type(2) li:hover .txt_block {
  top: -1px;
  bottom: -1px;
  justify-content: center;
}
.workBlock .container:nth-of-type(2) li:hover h3 {
  height: auto;
  line-height: 1.5;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background-color: #fff;
  color: gray;
  border-radius: 50%;
}
.workBlock .container:nth-of-type(2) li:hover h3 span {
  display: block;
}
.workBlock .container:nth-of-type(2) > img {
  width: 100%;
  margin: 1rem 0;
}
.workBlock .drawing_gallery {
  width: 90%;
  margin: 0 0 1.5rem 0;
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media (max-width: 768px) {
  .workBlock .drawing_gallery {
    width: 87%;
  }
}
@media (max-width: 428px) {
  .workBlock .drawing_gallery {
    width: 84%;
    -moz-column-count: 2;
         column-count: 2;
  }
}
.workBlock .drawing_gallery li {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
  display: inline-block;
  filter: grayscale(1);
  opacity: 0.7;
  transition: all 0.3s;
}
@media (max-width: 1024px) {
  .workBlock .drawing_gallery li {
    filter: grayscale(0);
    opacity: 1;
  }
}
.workBlock .drawing_gallery li:hover {
  filter: grayscale(0);
  opacity: 1;
}
.workBlock .drawing_gallery li img {
  max-width: 100%;
}

.contact {
  width: 100%;
  background-image: url(../img/bg_cloud.png);
  background-position: center top;
  background-size: 100%;
}
.contact .container > img {
  width: 35%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .contact .container > img {
    width: 50%;
  }
}
@media (max-width: 428px) {
  .contact .container > img {
    width: 75%;
  }
}
@media (max-width: 375px) {
  .contact .container > img {
    width: 85%;
  }
}
.contact form {
  color: #fff;
  width: 60%;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1280px) {
  .contact form {
    width: 55%;
  }
}
@media (max-width: 768px) {
  .contact form {
    width: 80%;
  }
}
@media (max-width: 375px) {
  .contact form {
    width: 100%;
  }
}
.contact form input, .contact form textarea {
  background-color: rgba(255, 255, 255, 0.3);
  border: 0;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  padding: 0.25rem 1rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.contact form input:focus, .contact form textarea:focus {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  outline: none;
}
.contact form input {
  height: 2.5rem;
}
.contact form textarea {
  font-size: 1.2rem;
}
.contact form span {
  margin-bottom: 1.2rem;
  color: #68FFF5;
  font-size: 0.9rem;
  font-weight: bold;
}
.contactBTN {
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 50%;
  align-self: flex-end;
}
.contactBTN:hover {
  background-color: rgba(0, 0, 0, 0.25);
  border-color: transparent;
}
.contactBTN:focus {
  outline: none;
}
@media (max-width: 428px) {
  .contactBTN {
    width: 100%;
  }
}
.contactSuccess {
  display: none;
  flex-direction: column;
  margin: 4rem 0;
}
.contactSuccess p {
  padding: 2rem 4rem;
  background-color: rgba(0, 0, 0, 0.15);
  color: #68FFF5;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
@media (max-width: 428px) {
  .contactSuccess p {
    padding: 2rem 2rem;
  }
}
.contactSuccess button {
  width: 60%;
  align-self: center;
}
@media (max-width: 428px) {
  .contactSuccess button {
    width: 100%;
  }
}

.blogPost {
  width: 100%;
  background-image: url(../img/bg_paper.png);
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.blogPost .container {
  width: 80%;
  position: relative;
  z-index: 5;
}
@media (max-width: 1280px) {
  .blogPost .container {
    width: 100%;
  }
}
@media (max-width: 428px) {
  .blogPost .container {
    padding: 0;
  }
}
.blogPost .container > img {
  width: 45%;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .blogPost .container > img {
    width: 75%;
    margin-bottom: 2rem;
  }
}
@media (max-width: 428px) {
  .blogPost .container > img {
    width: 95%;
    margin-top: 2rem;
  }
}
.blogPost .container > a {
  margin-top: 2rem;
  margin-bottom: 13rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #7B6660;
  text-decoration: none;
  color: #7B6660;
  font-weight: 700;
  transition: all 0.3s;
  position: relative;
  top: 0;
}
.blogPost .container > a:hover {
  top: -4px;
}
.blogPost article {
  width: 92%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .blogPost article {
    flex-direction: column;
    width: 87%;
  }
}
@media (max-width: 428px) {
  .blogPost article {
    width: 84%;
  }
}
.blogPost .postCard {
  display: flex;
  flex-direction: column;
  width: 31%;
  margin-bottom: 1.5rem;
  border: 1px solid #7B6660;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
}
.blogPost .postCard:hover {
  filter: brightness(0.9);
}
.blogPost .postCard:hover .blogBtn {
  filter: brightness(1.2);
}
@media (max-width: 767px) {
  .blogPost .postCard {
    width: 100%;
  }
}
.blogPost .postCard > p {
  color: #7B6660;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 3rem;
  text-align: center;
}
@media (max-width: 768px) {
  .blogPost .postCard > p {
    padding: 1rem 0.5rem 2rem;
  }
}
.blogPost .postCard > p .blogDate {
  font-size: 14px;
}
.blogPost .postCard > p .blogTitle {
  margin: 0.5rem 0 1.5rem;
  font-size: 1.25rem;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .blogPost .postCard > p .blogTitle {
    font-size: 1rem;
  }
}
.blogPost .postCard > p .blogBtn {
  color: #fff;
  font-size: 14px;
  padding: 0.5rem 1rem;
  background-color: #D79797;
  border-radius: 1.5rem;
}
.blogPost .postCard > img {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1024px) {
  .blogPost .postCard > img {
    height: 180px;
  }
}
@media (max-width: 768px) {
  .blogPost .postCard > img {
    height: 150px;
  }
}
.blogPost_sheep, .blogPost_girl, .blogPost_truffle, .blogPost_ugly {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}
.blogPost_sheep {
  left: -2rem;
  bottom: -15rem;
  width: 700px;
  height: 524px;
  background-image: url(../img/epaper_sheep.png);
}
@media (max-width: 1280px) {
  .blogPost_sheep {
    left: -5rem;
  }
}
@media (max-width: 1024px) {
  .blogPost_sheep {
    width: 380px;
    height: 285px;
    bottom: -8rem;
    left: -1rem;
  }
}
@media (max-width: 428px) {
  .blogPost_sheep {
    width: 255px;
    height: 190px;
    bottom: -5.5rem;
    left: -1.5rem;
  }
}
.blogPost_girl {
  right: -5rem;
  bottom: -9rem;
  width: 650px;
  height: 458px;
  background-image: url(../img/epaper_girl.png);
}
@media (max-width: 1280px) {
  .blogPost_girl {
    right: -15rem;
  }
}
@media (max-width: 1024px) {
  .blogPost_girl {
    width: 350px;
    height: 246px;
    right: -3rem;
    bottom: -4.5rem;
  }
}
@media (max-width: 428px) {
  .blogPost_girl {
    width: 235px;
    height: 166px;
    right: -5rem;
    bottom: -3rem;
  }
}
.blogPost_truffle {
  left: 28rem;
  bottom: -4rem;
  width: 200px;
  height: 283px;
  background-image: url(../img/epaper_truffle.png);
}
@media (max-width: 1280px) {
  .blogPost_truffle {
    left: 20rem;
    bottom: -7rem;
  }
}
@media (max-width: 1024px) {
  .blogPost_truffle {
    width: 110px;
    height: 156px;
    left: 15rem;
    bottom: -3rem;
  }
}
@media (max-width: 428px) {
  .blogPost_truffle {
    width: 74px;
    height: 104px;
    left: 7.5rem;
    bottom: -2rem;
  }
}
@media (max-width: 320px) {
  .blogPost_truffle {
    left: 5.5rem;
    bottom: 0rem;
  }
}
.blogPost_ugly {
  right: 27rem;
  bottom: -6rem;
  width: 250px;
  height: 275px;
  background-image: url(../img/epaper_ugly.png);
}
@media (max-width: 1280px) {
  .blogPost_ugly {
    right: 20rem;
  }
}
@media (max-width: 1024px) {
  .blogPost_ugly {
    width: 140px;
    height: 154px;
    right: 13.5rem;
    bottom: -2rem;
  }
}
@media (max-width: 428px) {
  .blogPost_ugly {
    width: 94px;
    height: 103px;
    right: 5.5rem;
  }
}
@media (max-width: 320px) {
  .blogPost_ugly {
    right: 5rem;
  }
}

footer {
  background-color: #7B6660;
}
footer .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: #D79797;
}
@media (max-width: 767px) {
  footer .container {
    flex-direction: column;
    align-items: center;
  }
}
footer .item {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  width: 29%;
  overflow: hidden;
}
@media (max-width: 1024px) {
  footer .item.linkHere {
    width: 35%;
  }
  footer .item.newsLetters {
    width: 60%;
  }
  footer .item.fbPages {
    display: none;
  }
}
@media (max-width: 768px) {
  footer .item.linkHere {
    width: 36%;
  }
  footer .item.newsLetters {
    width: 60%;
  }
}
@media (max-width: 767px) {
  footer .item {
    width: 88% !important;
  }
}
footer .item h4 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #D79797;
}
footer .item h5 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
footer .item a:hover {
  filter: brightness(1.2);
}
footer .item .likes_box {
  display: flex;
  align-items: center;
}
footer .item .likes_box p {
  font-size: 0.9rem;
  color: #fff;
  margin-right: 5px;
}
@media (max-width: 768px) {
  footer .item .likes_box p .ME {
    display: none;
  }
}
@media (max-width: 320px) {
  footer .item .likes_box p .GIVE {
    display: none;
  }
}
footer .item .likes_box .fb-like {
  margin-left: -1rem;
}
@media (max-width: 767px) {
  footer .item .likes_box .fb-like {
    margin-left: 0;
  }
}
footer .item #mc_embed_signup_scroll {
  display: flex;
  flex-direction: column;
}
footer .item #mc_embed_signup_scroll label {
  color: #fff;
}
@media (max-width: 767px) {
  footer .item #mc_embed_signup_scroll label {
    line-height: 1.8;
  }
}
footer .item #mc_embed_signup_scroll .email {
  border: 1px solid #D79797;
  background-color: transparent;
  font-size: 1rem;
  outline: none;
  margin-top: 0.5rem;
  padding: 0.5rem;
  color: #fff;
}
footer .item #mc_embed_signup_scroll .email:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
footer .item #mc_embed_signup_scroll .email::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
footer .item #mc_embed_signup_scroll .email::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
footer .item #mc_embed_signup_scroll #mc-embedded-subscribe {
  background-color: #D79797;
  color: #fff;
  border: 0;
  font-size: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.4rem;
  transition: all 0.3s;
  cursor: pointer;
  -webkit-appearance: none; /* 移除iOS內建樣式 */
}
footer .item #mc_embed_signup_scroll #mc-embedded-subscribe:hover {
  filter: brightness(1.15);
  text-indent: 1rem;
}
@media (max-width: 1024px) {
  footer .item #mc_embed_signup_scroll #mc-embedded-subscribe {
    margin-top: 1rem;
  }
}
footer .copyright {
  background-color: #D79797;
  color: #fff;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  footer .copyright {
    padding-bottom: 5rem;
  }
}
@media (max-width: 428px) {
  footer .copyright {
    font-size: 0.8rem;
    padding-top: 1rem;
  }
}
footer .copyright p {
  padding: 0.5rem;
}/*# sourceMappingURL=style.css.map */